/*----------------------------sidenav image sizing*/
.background img {
    height: 11.25em;
    padding-bottom: 1em;
    background-position: center;
}
/*-----------------------------------------------------------The sidebar menu*/
.sidenav {
  height: 100%;
  width: 10em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #7A28CB, #FC60A8);
  overflow-x: hidden;
}

/*------------------------The sidebar menu links */
.sidenav a {
    padding:  0.375em 0.5em 0.375em 1em;
    margin-bottom: 1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: block;
}

/* Style the sidenav links and the dropdown button */
.dropdown-btn {
  padding:  0.375em 0.5em 0.375em 1em;
  padding-bottom: 1em;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  color: rgb(255, 255, 255);
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/*Add an active class to the active dropdown button*/
.active {
  background-color: #379634;
  color: rgb(255, 255, 255);
}

/*------------------------------Dropdown btn container*/
.dropdown-container {
  display: none;
  background-color: #494368;
}

.sidenav a:hover, .dropdown-btn:hover {
    background: #CEEC97;
    color: #494368;
}

/*-----------------When hovered over, color changes */

/*------------------------------------------------------homepage cards*/

.card-image {
    width: 18.75em;
    height: 18.75em;
}

.flip-card {
    align-self: start;
    background-color: transparent;
    width: 18.75em;
    height: 18.75em;
    margin: 1em;
    border: 0.0625em solid rgb(255, 255, 255);
    perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style the front side*/
.flip-card-front {
  background-color: rgb(#FC60A8);
  color: rgb(0, 0, 0);
}

/* Style the back side */
.flip-card-back {
    background-color: #494368;
    color: rgb(255, 255, 255);
    transform: rotateY(180deg);
}
/*home end*/

/*----------------------------------------------------------media queries*/


/*-----------------------------------On smaller screens, height is less than 450px*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top:  0.9375em;}
  .sidenav a {font-size: 1.125em;}
}
/*-------On smaller screens, height is less than 450px*/
@media screen and (max-width: 300px) {
    .sidenav {
        width: 160px;
    }
    .sidenav a {
        font-size: 0.8em;
        padding-bottom: 1em;
    }
}