/*----------------------------Body color*/
body {
    background: linear-gradient(45deg, black, transparent);
}

/*----------------------------sidenav image sizing*/
.background img {
    height: 11.25em;
    padding-bottom: 1em;
    background-position: center;
}
/*-----------------------------------------------------------The sidebar menu*/
.sidenav {
  height: 100%;
  width: 10em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #7A28CB, #FC60A8);
  overflow-x: hidden;
}

/*------------------------The sidebar menu links */
.sidenav a {
    padding:  0.375em 0.5em 0.375em 1em;
    margin-bottom: 1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: block;
}

/*------------------------------------Style the sidenav links and the dropdown button */
/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: rgb(255, 255, 255);
  padding: 1em;
  font-size: 1em;
  border: none;
  width: 10em;
}

/*----------------------------------position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 10em;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0.75em 1em;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(255, 255, 255);}

/*--------------------------------------------Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/*Change background color of the dropdown button when the dropdown content is shown*/
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/*Add an active class to the active dropdown button*/
.active {
  background-color: #379634;
  color: rgb(255, 255, 255);
}

/*------------------------------Dropdown btn container*/
.dropdown-container {
  display: none;
  background-color: #494368;
}

.sidenav a:hover, .dropdown-btn:hover {
    background: #CEEC97;
    color: #494368;
}

/*----------------------------------------------homepage menu*/
.clear {
    clear: both;
}


ul {
    list-style: none;
}

.menu {
    background: linear-gradient(45deg, rgb(0, 0, 0), transparent rgb(#CEEC97));
    background-image: url(https://scx2.b-cdn.net/gfx/news/hires/2019/howtoovercom.jpg);
}

.menu ul li {
    text-align: center;
    float: inline-start;
    margin-left: 5em;
    padding: 2em;
}

.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5625em;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #7A28CB, #FC60A8);
    transition: font-size 0.5s linear;
}

.menu ul li a:hover {
    color: #CEEC97;
    font-size: 1.5625em;
    font-weight: bold;
}

/*----------------------------------homepage introduction to the platform*/
.introduction {
    text-align: center;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #FC60A8, #7A28CB);
}

.introduction h2 {
    padding-left: 5em;
}

.introduction-para {
    line-height: 2em;
    padding: 20px;
    padding-left: 10.5em;
}

.introduction-para:hover {
    font-size: 1em;
    font-weight: bold;
}

/*------------------------------------home sidebar section*/
.sidebar {
    height: 31.25em;
    width: 25em;
    border-radius: 1em;
    border: 5px solid #379634;
    color: #7A28CB;
    background-color: rgb(255, 255, 255);
    padding: 0.625em 1.875em;
    list-style: none;
}

.sidebar:hover {
    color: #FC60A8;
    background-color: #CEEC97;
}

.sidebar h3 {
    font-weight: 800;
    text-decoration: underline;
    color: #7A28CB;
}

#left-sidebar {
    float: left;
}

#right-sidebar {
    float: right;
}

.left-sidebar ul li {
    padding-bottom: 0.375em;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 1.25em;
}

.sidebar ul li a:hover, .sidebar ul li a:hover:active {
    font-size: 1.3125em;
    font-weight: 800;
    text-decoration: none;
}

i .fas .fa-check {
    color: #379634;
    font-size: large;
}

/*home end*/

/*----------------------------------------------------------media queries*/

@media screen and (max-height: 450px) { /* smaller screens, height is less than 450px*/
  .sidenav {padding-top:  0.9375em;}
  .sidenav a {font-size: 1.125em;}
}
/*-------On smaller screens, height is less than 450px*/
@media screen and (max-width: 300px) {
    .sidenav {
        width: 160px;
    }
    .sidenav a {
        font-size: 0.8em;
        padding-bottom: 1em;
    }
}